<%= provide(:title, 'About us') %>
<div class="container1100 container-fluid">
	<div class="span9 offset2">
		<h1>About us</h1>
		<p>
			We are 4 super talented students from class ICT-K54 of the bloody Hanoi University of Science and Technology.<br />
			Here goes our names.
			<ul style="circle">
				<li>
					<strong>Hoang Tran-Nhat</strong>, also known as the most handsome guy of the team.
				</li>
				<li>
					<strong>Quan Le</strong>, the funny guy.
				</li>
				<li>
					<strong>Quan Nguyen-Trung</strong>, the hardcore coder.
				</li>
				<li>
					<strong>Van Nguyen-Duc</strong>, more famous with the name Van "dâm"
				</li>
			</ul>
		</p>
	</div>
</div>
