<%= provide(:title, 'About us') %>
<div class="container1100 container-fluid">
	<div class="span9 offset2">
		<h1>About us</h1>
		<p>
			We are 4 super talented students from class ICT-K54 of the bloody Hanoi University of Science and Technology.<br />
			Here goes our names.
			<ul style="list-style-type: circle">
				<li>
					<span class="member-name">Hoang Tran-Nhat</span>, also known as the most handsome guy of the team.
				</li>
				<li>
					<span class="member-name">Quan Le</span>, the funny guy.
				</li>
				<li>
					<span class="member-name">Quan Nguyen-Trung</span>, the hardcore coder.
				</li>
				<li>
					<span class="member-name">Van Nguyen-Duc</span>, more famous with the name Văn "dâm"
				</li>
			</ul>
		</p>
	</div>
</div>
