<%= form_for current_user.bookmarks.build(exam_paper_id: @exam_paper.id), remote: true do |f| %>
<%= f.hidden_field :exam_paper_id %>
<button type="submit" class="btn btn-primary">
  <i class="icon-bookmark icon-white"></i>
</button>
<% end %>