<div class="fields">
  <p>
    <% if !f.object.id.nil? %>
      <%= image_tag f.object.exam_part.url(:thumb) %>
    <% end %>
    
    <%= f.file_field :exam_part, :accept => 'image/png,image/jpeg' %><br />
    <%= link_to_remove_field("remove", f) %>
    </p>
</div>