<%= form_for current_user.appreciates.find_by_exam_paper_id(@exam_paper.id), html: { method: :delete }, remote: true do |f| %>
<button type="submit" class="btn btn-primary disabled">
  <i class="icon-thumbs-up icon-white"></i>
</button>
<% end %>