// Place all the styles related to the ExamPapers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
select {
  padding: 0px;
}

.date-recommendation {
  color: red;
  font-size: 0.9em;
}

.leftpane {
  float: left;
  width: 30%;
  padding-right: 3%;
}

.rightpane {
  float: right;
  width: 30%;
  padding-left: 3%;
}

.content {
  float: left;
}
