.container {
  h1 {
    text-align: center;
  }
}

input {
  height: auto !important;
}

#error_explanation {
  color: #ff0000;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

.avatar-area {
  height: 140px;
  #avatar-preview {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: 50% 50% !important;
    display: inline-block;
    float: left;
    margin-right: 40px;
    margin-left: 30px;
    border: solid 2px #ACACAC;
    border-radius: 5px;
  }
  #upload-avatar-file-field {
    display: none;
  }
}

#upload-avatar-btn {
  .btn {
    margin-top: 30px;
  }
}

.width100 {
  width: 100% !important;
}